@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breackpoints
Pequenas Telas: Até 600px
Celular: 600 px — 768 px.
Tablet: 768 px - 992 px
Desktop: 992px — 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    body {
        background-image: linear-gradient(to top, #011F26, #F27405, #D93D04, #591202);
    }
    section#Login {
        width: 80vw;
        height: 280px;
    }

    section#Login > div#Imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#Login > div#Formulario {
        float: right;
        width: 70%;
    }
    div#Formulario > p {
        font-size: 1.0em;
        text-align: center;
        margin: 10px 0px;
    }
}

@media screen and (min-width: 992px) { /*DESKTOP+*/
    body {
        background-image: linear-gradient(to top, #011F26, #F27405, #D93D04, #591202);
    }

    section#Login {
        width: 950px;
        height: 350px;
    }

section#Login > div#Imagem {
    float: right;
    width: 50%;
    height: 100%;
}

section#Login > div#Formulario {
    float: left;
    width: 50%;
}

div#Formulario > h1 {
    font-size:2em;
}

div#Formulario > p {
    font-size: 1.0em;
    text-align: center;
    margin: 20px 0px;
}
}

