@charset "UTF-8";

/* Paleta de cores
Preto: #011F26
Amarelo: #F2C46D
Laranja: #F27405
Vermelho: #D93D04
Vinho: #591202
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #F27405;
    height: 100vh; /*M치ximo de Altura*/
    width: 100vw;/*M치ximo de Largura*/
}

main {
    position: relative;
    height: 100vh; /*M치ximo de Altura*/
    width: 100vw;/*M치ximo de Largura*/
}

section#Login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
}

section#Login > div#Imagem {
    display: block;
    background: #D93D04 url(../Imagens/pexels-dinnow-9444476.jpg);
    background-size: cover;
    background-position: top center;
    height: 200px;
}

section#Login > div#Formulario {
    display: block;
    padding: 10px;
}

